<div class="form-container">
    <h1>Edit Location Details</h1>
    <form action="/locations/<%= data.location_id %>" method="POST">
        <div class="form-row">
            <div class="field">
                <label for="lname">Location Name</label>
                <input type="text" id="lname" name="locationname" placeholder="Enter Location Name" value="<%= data.name %>">
            
            </div>
            <div class="field">
                <label for="city">City</label>
                <input type="text" id="city" name="city" placeholder="Enter City Name" value="<%= data.city %>">
            </div>
        </div>
        <div class="form-row">
            <div class="field">
                <label for="district">District</label>
                <input type="text" id="district" name="district" placeholder="Enter District Name" value="<%= data.district %>">
            
            </div>
            <div class="field">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="Enter State Name" value="<%= data.state %>">
            </div>
        </div>
      
        <div class="desc-row">
            <label for="desc">Description</label>
            <textarea id="desc" name="desc" placeholder="Enter Description" style="height:200px"><%= data.description %></textarea>
        </div>
      
      <input class="submit-btn" type="submit" value="Update">
    </form>
  </div>